@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background: #222831;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #222831;
}

::-webkit-scrollbar-thumb {
  border-radius: 30%;
  background: linear-gradient(
    45deg,
    rgba(199, 106, 237, 1) 0%,
    rgba(97, 86, 242, 1) 100%
  );
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 106, 237, 1) 0%,
    rgba(150, 86, 255, 1) 100%
  );
} */

body section:nth-child(2) {
  margin-top: 100px;
}

header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding: 1em 8em;
  background: #161a20;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

button {
  cursor: pointer;
}

section {
  height: 85vh;
  flex-wrap: wrap;
  /*border-style: solid;
    border-color: white;*/
}

#glassmorphism-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.glass-box {
  --width: 30vw;
  --height: 40vw;
  position: relative;
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.glass-box::before {
  content: "";
  position: absolute;
  left: 5vw;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.glass-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 5vw;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.glass-box:hover::before,
.glass-box:hover::after {
  transform: skewX(0deg);
}

#glassmorphism-section .glass-box:nth-child(1)::before,
#glassmorphism-section .glass-box:nth-child(1)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

#glassmorphism-section .glass-box:nth-child(2)::before,
#glassmorphism-section .glass-box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

#glassmorphism-section .glass-box:nth-child(3)::before,
#glassmorphism-section .glass-box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.glass-box span {
  display: block;
  z-index: 2;
  pointer-events: none;
}

.glass-box span::before,
.glass-box span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation: animate 4s ease-in-out infinite;
}

.glass-box span::before {
  top: 0;
  left: 0;
}

.glass-box span::after {
  bottom: 0;
  right: 0;
  animation-delay: -2s;
}

.glass-box:hover span::before {
  top: -2vw;
  left: 4vw;
  width: 10vw;
  height: 10vw;
  opacity: 1;
}

.glass-box:hover span::after {
  bottom: -2vw;
  right: 3vw;
  width: 10vw;
  height: 10vw;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

.glass-box .content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: #fff;
  width: 80%;
  padding: 1vw 3vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

.glass-box:hover .content {
  height: 22vw;
}

.glass-box .content h2 {
  font-size: 1.8vw;
  color: #fff;
}

.glass-box .content p {
  font-size: 1.2vw;
}

.glass-box .content a {
  display: inline-block;
  font-size: 1.2vw;
  color: black;
  background: #fff;
  padding: 0.7vw;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 1vw;
  width: 10vw;
  text-align: center;
}

@media (max-width: 1480px) {
  #advertisment-section {
    flex-direction: column;
  }
}

#advertisment-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 50px;
  height: 100vh;
  flex-wrap: wrap;
}

.advertisment-box {
  width: 40vw;
  max-width: 380px;
  height: 17vw;
  max-height: 170px;
  display: flex;
  padding: 15px;
  gap: 10px;
  transition: 1s;
}

.advertisment-box::before {
  position: absolute;
  content: "";
  background: var(--hover-image);
  background-size: 110%;
  width: 100vw;
  height: 100vh;
  top: 130vh;
  box-shadow: 1px 1px 10px rgb(49, 49, 49);
  z-index: -1;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition: 2s;
}

.advertisment-box::after {
  content: "";
  background: linear-gradient(
    45deg,
    rgba(199, 106, 237, 1) 0%,
    rgba(97, 86, 242, 1) 100%
  );
  position: absolute;
  width: 40vw;
  max-width: 380px;
  height: 17vw;
  max-height: 170px;
  z-index: 0;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 20px;
  transition: 1s;
}

.advertisment-box:hover {
  margin-right: 15vw;
  margin-bottom: 6vw;
  margin-top: 5vw;
}

.advertisment-box:hover::after {
  opacity: 0;
}

.advertisment-box:hover p {
  font-weight: bold;
  backdrop-filter: blur(8px) contrast(70%) brightness(140%);
  padding: 10px;
}

.advertisment-box:hover div {
  transform: scale(2);
  color: var(--text-color);
}

.advertisment-box:hover img {
  opacity: 0;
}

.advertisment-box:hover h3 {
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: black;
  width: 20vw;
  padding-left: 2px;
}

.advertisment-box:hover::before {
  opacity: 1;
  background-size: 100vw;
}

.advertisment-box img {
  width: min(12vw, 120px);
  height: min(10vw, 100px);
  border-radius: 10px;
  transition: 1s;
  z-index: 1;
}

.advertisment-box div {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 1s;
  z-index: 1;
}

.advertisment-box h3 {
  font-size: min(16px, 1.4vw);
}

.advertisment-box p {
  font-size: min(13px, 1.18vw);
}

.advertisment-box h3 {
  transition: 1s;
}

.social-button {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #222831;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

.social-button::before {
  content: "";
  width: 5vw;
  height: 5vw;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  filter: blur(3px);
  z-index: -2;
  transition: 0.5s;
}

.social-button img {
  position: absolute;
  width: 2.4vw;
  filter: invert(1);
  margin-top: 1.2vw;
  z-index: 1;
  transition: 1s;
}

.social-button::after {
  content: "";
  width: 100%;
  height: 0%;
  display: block;
  background: linear-gradient(135deg, #ffbc00, #ff0058);
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s;
}

.social-button:hover::after {
  height: 100%;
}

.social-button:hover::before {
  border-width: 1.5px;
  border-color: red;
}

.social-button:hover img {
  transform: scale(1.2);
}

#social-buttons-section {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

#authentication-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20vw;
  height: 100%;
}

.glass-form {
  position: relative;
}

.glass-form .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.glass-form .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.glass-form .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.glass-form .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.glass-form .square:nth-child(4) {
  bottom: -80px;
  right: 100px;
  width: 50px;
  height: 50px;
}

.glass-form .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}

.glass-form .container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-form .form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.glass-form .form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.glass-form .form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

.glass-form .form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.glass-form .form .inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.glass-form .form .inputBox input::placeholder {
  color: #fff;
}

.glass-form .form .inputBox input[type="submit"] {
  background: #fff;
  color: #666;
  width: auto;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

.forget {
  margin-top: 5px;
  color: #fff;
  font-size: 15.5px;
}

.forget a {
  color: #ea8d07;
  font-weight: 600;
  text-decoration: none;
}

#shine-buttons-section {
  display: flex;
  justify-content: center;
}

.shine-button {
  position: relative;
  padding: 15px 30px;
  font-size: 2vw;
  margin: 10px;
  background: #27022d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  transition: 0.5s;
  overflow: hidden;
}

.shine-button:hover {
  background: #a41ee9;
}

.shine-button:nth-child(2):hover {
  background: #ff3c7f;
}

.shine-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

.shine-button:hover::before {
  left: 100%;
}

#color-blur-cards-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  width: 100vw;
  height: 300vh;
  gap: 5vw;
}

.color-blur-card {
  width: 300px;
  height: 420px;
  background: #fff;
  margin: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  z-index: 0;
  position: relative;
}

.color-blur-card::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -420px;
  z-index: -1;
}

.color-blur-card::before {
  position: absolute;
  content: "";
  width: 3000px;
  height: 2000px;
  margin-top: -1000px;
  margin-left: -1500px;
  backdrop-filter: blur(0px);
  z-index: -1;
  pointer-events: none;
  transition: 0.5s;
  overflow-x: hidden;
  transform: scale(0);
}

.color-blur-card:hover {
  z-index: 1;
  transform: scale(1.1);
}

.color-blur-card:hover::before {
  backdrop-filter: blur(8px);
  transform: scale(1);
}

.color-blur-card .circle {
  width: 100%;
  height: 50%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.color-blur-card .circle h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}

.color-blur-card .content {
  padding: 20px;
  page-break-after: 20px;
  text-align: center;
}

.color-blur-card .content p {
  color: #666;
}

.color-blur-card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
}

.color-blur-card:nth-child(1) .circle,
.color-blur-card:nth-child(1) .content a {
  background: #ffaf00;
}

.color-blur-card:nth-child(2) .circle,
.color-blur-card:nth-child(2) .content a {
  background: #da2268;
}

.color-blur-card:nth-child(3) .circle,
.color-blur-card:nth-child(3) .content a {
  background: #bb02ff;
}

#goods-section {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.good-card {
  background-color: #122936;
  width: 200px;
  height: 280px;
  color: white;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.good-card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.good-card .content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.good-card::before {
  content: "";
  background-color: #2196f3;
  width: 300%;
  height: 100%;
  margin-top: -100px;
  margin-left: -400px;
  transform: rotate(-15deg);
  transition: 0.5s;
}

.good-card::after {
  content: "ТОП-1";
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  margin-left: -20px;
  color: #102530;
  font-weight: bolder;
  bottom: 0;
  z-index: 0;
}

.good-card img {
  width: 90%;
  margin-bottom: 15px;
  transition: 0.5s;
}

.good-card h6 {
  font-weight: normal;
  font-size: 11px;
}

.good-card span {
  font-weight: bold;
  font-size: 14px;
}

.good-card:hover img {
  width: 80%;
}

.good-card button {
  margin-top: 10px;
  background-color: #2196f3;
  color: white;
  width: max-content;
  text-transform: uppercase;
  font-size: 11px;
  padding: 7px 20px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s;
  border-style: none;
}

.good-card:hover button {
  opacity: 1;
  margin-bottom: 50px;
}

.good-card:hover::before {
  transform: rotate(30deg);
  margin-top: -200px;
  margin-right: -170px;
  margin-left: -100px;
}

#rays-cards-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 200vh;
}

#rays-cards-section:hover .rays-card {
  opacity: 0.2;
}

#rays-cards-section .rays-card:hover {
  opacity: 1;
}

.rays-card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #0c002b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.rays-card::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.rays-card .content {
  padding: 30px;
  text-align: center;
}

.rays-card .content h2 {
  position: absolute;
  right: 30px;
  font-size: 4em;
  font-weight: 800;
  color: #1779ff;
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;
}

.rays-card:hover .content h2 {
  opacity: 1;
  transform: translateY(-70px);
}

.rays-card .content h3 {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5s;
}

.rays-card .content p {
  position: relative;
  font-size: 1em;
  color: #fff;
  z-index: 2;
  opacity: 0.5;
  font-weight: 300;
  letter-spacing: 1px;
  transition: 0.5s;
}

.rays-card:hover .content h3,
.rays-card:hover .content p {
  opacity: 1;
}

.rays-card .content a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  background: #fff;
  color: #0c002b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.rays-card span {
  transition: 0.5s;
  opacity: 0;
}

.rays-card:hover span {
  opacity: 1;
}

.rays-card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.rays-card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.rays-card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #1779ff);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.rays-card span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#people-cards-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 3vw;
  height: 200vh;
}

.people-card {
  width: 260px;
  height: 347px;
  border-radius: 15px;
  background-color: #1d3548;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 5px rgb(28, 28, 28);
}

.people-card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  background-color: #2196f3;
}

.people-card span {
  font-size: 12px;
  color: #4fc7ff;
  margin-bottom: 10px;
}

.people-card > img {
  height: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  z-index: 1;
  transition: 0.5s;
}

.people-card .social-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.people-card .social-buttons > div {
  background-color: #294d69;
}

.people-card:hover>img {
  margin-top: 30px;
  height: 55%;
}

.social-button-inline {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #222831;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.social-button-inline img {
  position: absolute;
  width: 20px;
  filter: invert(1);
}