<section class="lk-section">
  <div class="lk">
    <h1>Добро пожаловать!</h1>
    <h2>Ваши данные</h2>
    <span><b>Почта: </b>{{email}}</span>
    <span><b>Пароль: </b>{{password}}</span>
    <span><b>Состояние чек-бокса: </b>{{#if
        remember
      }}on{{else}}off{{/if}}</span>
  </div>
</section>