<section><form class="login-form" method="post">
    <h1>Логин</h1>
    <div>
      <label for="email">Почта</label>
      <input type="email" name="email" id="email" />
    </div>
    <div>
      <label for="password">Пароль</label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <input type="checkbox" name="remember" id="remember" />
      <label for="remember">Запомнить</label>
    </div>
    <input type="submit" value="Войти" />
  </form>
</section>