<section>
  <div class="news-list">
    <h2>ID запроса:</h2>
    <h2>Новости</h2>
    <div>
      {{#each news}}
        <a href="/news/{{id}}">{{name}}</a>
      {{/each}}
    </div>
  </div>
</section>